__pycache__/
.ipynb_checkpoints
Dati_Cinema_Italiani/annuari_cinetel/
Dati_Cinema_Italiani/conf_cinetel/
Dati_Cinema_Italiani/presentazioni_anica_cinetel/
Dati_Cinema_Italiani/SIAE/
Dati_Cinema_Italiani/tables/
italian-maps-shapefiles-master/
lib/
test_pyvis.py
Prove_vis.ipynb
movies_net.html
Movie-Network-Vis.ipynb
Progetto_sciViz_Cinema.ipynb