__pycache__/
.ipynb_checkpoints
Dati_Cinema_Italiani/annuari_cinetel/
Dati_Cinema_Italiani/conf_cinetel/
Dati_Cinema_Italiani/presentazioni_anica_cinetel/
Dati_Cinema_Italiani/SIAE/
italian-maps-shapefiles-master/
lib/
test_pyvis.py
Prove_vis.ipynb
movies_net.html
net_actors_plotly.html
Movie-Network-Vis.ipynb
Progetto_sciViz_Cinema.ipynb
test.py
.env

Dati_Cinema_Italiani/tables/*
!Dati_Cinema_Italiani/tables/box_office.csv
!Dati_Cinema_Italiani/tables/nazioni.csv
!Dati_Cinema_Italiani/tables/distribuzioni.csv
!Dati_Cinema_Italiani/tables/mesi.csv
!Dati_Cinema_Italiani/tables/regioni.csv
!Dati_Cinema_Italiani/tables/film_ita.csv